@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  font-family: 'Open Sans', serif;
}

.button-bg {
  background: linear-gradient(80.25deg, #0071bb 0.38%, #39a3e7 98.6%);
}

select {
  -webkit-appearance: none;
  background-image: url('./assets/images/arrow.webp');
  background-position: right 16px top 50%, 0 0;
  background-repeat: no-repeat;
}
